# API Server Configuration
PORT=3000
HOST=0.0.0.0
APP_ENV=development
RUST_LOG=info,rustom=debug,tower_http=debug
DOMAIN_NAME=http://localhost:3000

# Database Configuration
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=onboarding_development
POSTGRES_SSL_ENABLED=off
# this DATABASE_URL is for sqlx-cli only
DATABASE_URL=postgres://postgres:postgres@localhost:5432/rustom_development

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_in_production
REDIS_DB=0

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rustom
RABBITMQ_PASSWORD=change_me_in_production
RABBITMQ_VHOST=%2f

# JWT Configuration
JWT_SECRET=change_me_in_production_use_openssl_rand_hex_32
JWT_EXPIRATION_SECONDS=86400

# Cache Configuration
API_CACHE_TTL=3600

# API Security and Encryption Configuration (openssl rand -hex 32)
API_PAYLOAD_ENCRYPTION_ENABLED=true
API_GATEWAY_KEY=
API_GATEWAY_ERROR_MESSAGE="Invalid Rustom API Gateway Key"
API_ENCRYPTION_KEY=change_me_in_production
API_RATE_LIMIT=5

# Slack Configuration
SLACK_ERROR_WEBHOOK_URL=
SLACK_ERROR_CHANNEL_ID=
SLACK_REGISTRATION_WEBHOOK_URL=
SLACK_REGISTRATION_CHANNEL_ID=
